* {
  padding: 0%;
  margin: 0%;
}
.logo-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.logo-img {
  padding: 25px;
}
.address-section {
  padding: 25px;
}

.address-section:hover {
  color: blue;
}
.menu-tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 24, 94);
}
.menu-tab ul {
  display: flex;
  list-style: none;
  padding-left: 38px;
}
.menu-tab ul li {
  padding: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.menu-tab ul li a {
  text-decoration: none;
  font-weight: 14px;
  color: white;
}
.menu-tab ul li:hover{
    background-color: rgba(161, 161, 219, 0.3);
}
.search-icon {
  padding-right: 40px;
  padding-top: 10px;
}
.banner-section {
  background-image: url("/assets/background.jpg");
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}
.back-drop {
  width: 100%;
  background-color: rgba(0, 0, rgb(10, 10, 46), 0.2);
  width: 100%;
  height: 70vh;
}
.banner-content {
  width: 100%;
  display: flex;
  padding-top: 55px;
  justify-content: space-evenly;
}
.banner-writeup {
  color: white;
  width: 30%;
}

.banner-writeup h6 {
  letter-spacing: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    margin-bottom: 12px;
}
.banner-writeup h2{
    line-height: 50px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 20px;
font-weight:normal;
}
.banner-writeup p{
    line-height: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-bottom: 25px;
}
.banner-writeup a{
    text-decoration: none;
    background-color: white;
    padding:7px;
    margin-top: 30px;
    border-radius: 10px;
}
.atm-card {
  width: 30%;
  padding-top: 50px;
  padding-left: 20px;
}
.form-header{
display: flex;
justify-content: space-between;

}
.form-header a{
    font-size: 13px;
    letter-spacing: 1px;
}
.form-menu {
  width: 25%;
  background-color: white;
  height: 45vh;
  padding:20px;
}
.form-menu p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.input-content{
    display: flex;
    justify-content: space-evenly;
    margin-left: -9px;
}
input[type=text]{
    width:110px;
    padding:16px;
margin-top: 40px;
background-color: rgba(100,100,100,0.1);
border: none;
border-radius: 7px;
}
input[type=password]{
    width:110px;
    padding:16px;
margin-top: 40px;
background-color: rgba(100,100,100,0.1);
border: none;
border-radius: 7px;
}
input[type=checkbox]{
margin-top: 23px;
margin-left:9px;
transform: scale(1.5);
}
label{
    padding-left:7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
input[type=submit]{
    width:100%;
    margin-top: 18px;
    padding: 15px;
    background-color: rgb(120, 120, 228);
    color:white;
    border:none;
    border-radius:7px;
}
input[type=submit]:hover{
    background-color: rgb(35, 35, 94);
}
.form-links{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.form-links a{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-linkses{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.form-linkses a{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Services section begins here */

.service-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.service-section a p{
    color:#056dae;
    font-weight: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}
.service-section a p:hover{
    text-decoration: underline;
    color:rgb(36, 35, 35)
}
.service-note{
    margin-top: 15px;
    width: 350px;font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 17px;

}
.link-serv{
    text-decoration: none;
    color: white;
    background-color: #056dae;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 10px;
}
.link-serv:hover{
    background-color: rgb(43, 43, 131);
}
.service-down{
    display: flex;
    margin-top: 5%;
    margin-left: 4%;
    ;
}
.four-cards{
    width: 47%;
}
.atm-writup{
    width: 47%;
    margin-left: 10px;
}
.atm-writup h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}
.atm-writup h2{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
    margin-bottom: 10px;
    font-weight: normal;
}
.atm-writup p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 30px;
}
.atm-writup a{
    text-decoration: none;
    color: white;
    background-color:#056dae;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 20px;
    padding:15px 70px;
    border-radius: 8px;
}
.atm-writup a:hover{
    background-color: rgb(34, 34, 110);
}
.service-downtwo{
    display: flex;
    margin-top: 4%;
}
.service-downwrite{
    width: 40%;
}
.service-downwrite{
    margin-left: 4%;
}
.service-downwrite h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}
.service-downwrite h2{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
    margin-bottom: 15px;
    font-weight: normal;
}
.service-downwrite p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 30px;
}
.service-downwrite a{
    text-decoration: none;
    color: white;
    background-color: #056dae;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 20px;
    padding:15px 70px;
    border-radius: 8px;
}
.service-downwrite a:hover{
    background-color: rgb(34, 34, 110);
}
.footer-section{
    background-color: rgb(56,56,56,1);
    height: 115vh;
    margin-top: 5%;
}
.footer-main{
    display: flex;
    padding-top: 3%;
    justify-content: space-between;
    margin-left: 5%;
}
.footer-inner{
    color:white
}
.footer-inner h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
}
.footer-inner ul a{
    color: white;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    line-height: 25px;
    list-style: none;
    text-decoration: none;
}
.footer-socialicons{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.google-icon{
    margin-left: 40px;
}
.social-icons{
    margin-right: 9%;
}
.rule-footer{
    margin-left: 5%;
    margin-right: 9%;
}
.copyright{
    display: flex;
    color: white;
    padding: 1%;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left:-80px;
    font-size: 12px;
}
.copyright ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
}
.copyright ul li{
    padding-right: 20px;
}
.footer-endnote{
 margin: top 5%;
}
.footer-endnote h4{
    color: white;
    margin-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin-left: 5%;
    margin-bottom: 1%;
}
.footer-endnote p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-left: 5%;
    margin-right: 7%;
}